{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}

<main role="main" class="container">
    <div class="row">
        <div class="col-md-3 mb-3 mt-1">
            <div class="card">
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="h3">
                                Об авторе
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="h6 text-muted">
                                Для чего этот сайт
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="card-body">
                <div class="card-text">
                    <p>Привет! Меня зовут Женя Кочкин. На этом сайте я обучаюсь искусству программирования, тренируюсь
                        писать хороший код😋
                    </p>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}